<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" type="text/css" href="../../public/style.css" medi="all">
    <link rel="icon" type="image/png" href="logo.jpg" />
  </head>
  
  <body>
    <header>
      <div class="banniere">
        
        <div class="logo">
            <img id="logo" src="../../images/pic/checklist.png">
        </div>
         

      
        <div class="pole"></div>
      </div>
      <nav role="navigation">
        <ul>
          <li><a href="http://localhost:3822">La procedure de node</a>
            
          </li>
          <li><a href="http://localhost:3822/depannage">Dépannage de Bug</a>
           
          </li>
          <li><a href="https://www.teccart.qc.ca/informatique-de-gestion-dec.php">Formation informatique</a>
            
          </li>
          <li><a href="https://www.bestbuy.ca/fr-ca/categorie/ordinateurs-de-bureau/20213?cmp=knc-c-71700000055260068-k-43700045994393050&gclid=Cj0KCQjwtsv7BRCmARIsANu-CQfh4zUq497AGGbNoqFrtI-73L5ZV3UZpBa1bRyRvHLqNWwn8fLhPFUaAsPuEALw_wcB&gclsrc=aw.ds">Ordinateurs</a>
            
          </li>
          <!--<li><a href="#">Mon email</a></li>-->
        </ul>
      </nav>
    </header>
    <!-- Article ou Table ici -->
    <article>
    </article>
    <footer>
    </footer>
  </body>