<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<title> procédurier </title>
<link rel="stylesheet" type="text/css" href="../public/page.css">

</head>
<body>

        <%-include("./partials/menu")%>

        <section>

            <section id="home">
              <div>
                <section id="top">
                  Résumé
                </section>
          
                <br>
                <br>
                <section id="resume">
                <a href="#section1">Télécharger Putty et WinSCP</a>
                <br>
                <a href="#section2">Connexion a WinSCP</a>
                <br>
                <a href="#section3">Déplacement de dossier sur WinSCP</a>
                <br>
                <a href="#section4">Connexion a putty</a>
                <br>
              </section>
          
              </div>
            </section>

            <br>
            <br>
            <br>
            <br>
          
            <section id="section1">
              <div>
                <span>
                <section id="mid">
                  1. Télécharger Putty et WinSCP

                </section>
                <img id="logo1" src="../images/pic/putty_pic.jpg">
                <img id="logo2" src="../images/pic/win_logo.jpg">
                

                Télécharger les deux applications nécessaires pour cet hébergement sur internet avec les liens ci-dessous :
              </span>
              <br>
              <span>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../images/pic/putty_pic.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lien Putty</h5>
                  <p class="card-text">lien pour télécharger Putty qui va être nécessaire dans ce travail !</p>
                  <a href="https://www.putty.org/" class="btn btn-primary">Télécharger Putty</a>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../images/pic/win_logo.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lien WinSCP</h5>
                  <p class="card-text">lien pour télécharger la deuxieme application WinSCP qui va être nécessaire dans ce travail !</p>
                  <a href="https://winscp.net/eng/download.php" class="btn btn-primary">Télécharger WinSCP</a>
                </div>
              </div>
            </span>

              <br>
              
          
              </div>
            </section>
          
            <br>
            <br>
            <section id="section2">
              <div>
                <span>
                <section id="mid">
                  2. Connexion a WinSCP
                </section>
                <br>
                <br>
                Après le téléchargement des deux applications, on ouvre WinSCP Pour avoir l'interface suivante :
                <br>
                <img id="win1" src="../images/pic/WinSCP_1.PNG">
                <br>
                <br>
                Après le choix de l'adresse ip on se connecte avec notre mot de passe :
                <br>
                <br>
                <img id="win1" src="../images/pic/mdp_win_2.PNG">
                <br>
                <br>
                <br>
                
              </section>
              
              <section id="section3">
                <section id="mid">
                  3.Déplacement de dossier sur WinSCP
                </section>
                <br>
                <br>
                Après la connexion tout ce qu'il faut faire c'est de déplacer les fichiers qu'on veut héberger de notre machine a WinSCP (Glisser) :
                <br>
                <br>
                <img id="win1" src="../images/pic/deplacement_win_3.PNG">
              </span>
              <br>
            </section>
          
            <section id="section4">
              <section id="mid">
                4.Connexion à putty
              </section>
              <br>
              <br>
              Maintenant il vient le rôle de Putty , Pour se connecter c'est facile il faut d'abord se connecter à la même adresse ip:
              <br>
              <br>
              <img id="win1" src="../images/pic/1_ip.PNG">
              <br>
              <br>
              Après il faut se connecter avec les memes informations de WinSCP
              <br>
              <br>
              <img id="win1" src="../images/pic/putty_2.PNG">
              <br>
              <br>
              Ensuite on accède au fichier pour pouvoir accèder au site
              <br>
              <br>
              <img id="win1" src="../images/pic/putty_3.PNG">
              <br>
              <br>
              Puis aprés on recoit le résultat suivant :
              <br>
              <br>
              <img id="win1" src="../images/pic/site_final.PNG">
            </span>
            <br>
          </section>
            
          
          </section>
          <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div id="oth">
                Copyright © Othmane 2020
              </div>
              <br>
              <br>
        

        


</body>
</html>